---
---

@import "{{ site.theme }}";

a:hover{
  font-weight:normal;
  
}

nav {
  
  a.current{
      text-decoration:underline;
  }

  a:visited{
    color:gray;
    text-decoration: line-through !important; 
  }
}

img{
  border:1px solid gray; 
  padding:10px;
}
