---
---

@import "{{ site.theme }}";

a:hover{
  font-weight:normal;
  text-decoration:underline;
}

nav {
  
  a.current{
     text-decoration: line-through !important; 
  }

  a:visited{
  color:gray;
  }
}

img{
  border:1px solid gray; 
  padding:10px;
}
