---
---

@import "{{ site.theme }}";

a:hover{
  font-weight:normal;
  text-decoration:underline;
}

nav {
  a{
    color:black;
  }
  a:visited{
  color:gray;
  }
}

img{
  border:1px solid gray; 
  padding:10px;
}
